button.btn {
  gap: 0.5rem;
  border: none;
  display: flex;
  font-weight: 800;
  height: 3.125rem;
  align-items: center;
  font-size: 0.875rem;
  min-width: 10.875rem;
  border-radius: 0.5rem;
  justify-content: center;
  color: var(--theme-foreground-primary);
  background-color: var(--theme-background-primary);
}

@media (hover: hover) {
  button.primary:hover {
    background-color: var(
      --theme-background-highlight
    );
  }
}
