.aside {
  display: flex;
  min-width: 19.5rem;
  padding-block-start: 5.625rem;
  flex-direction: column;
  color: var(--theme-foreground-primary);
  background-color: var(--theme-background-primary);
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section > hgroup {
  text-align: center;
}

.section > hgroup > .title {
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 3.375rem;
}

.section > nav > ul {
  list-style: none;
}

.section > nav > ul > li {
  padding: 0.90625rem 3.5rem;
  background-color: var(--theme-background-highlight);
}

.footer {
  font-size: 14px;
  text-align: center;
  padding-block: 2.5rem;
}